/* 
* @Author: Marte
* @Date:   2018-05-24 14:11:25
* @Last Modified by:   Marte
* @Last Modified time: 2018-05-24 14:14:22
*/
.huanying{
    /*line-height: 100%;*/
    text-align: center;
    font-size:24px;
    color:#fff;
}