/* 
* @Author: Marte
* @Date:   2018-04-23 09:36:29
* @Last Modified by:   Marte
* @Last Modified time: 2018-06-21 14:20:45
*/

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: Microsoft YaHei;
    /*background:#fff;*/
}
a{
    color:#fff;
}
textarea{
    resize:none;
}
.Box{
    text-align: center;
    width:100%;
}
.box{
    margin:0 auto;
    width:1440px;
}
.top{
    width:1440px;
    height:83px;
    background:#fff;
    position:relative;
}
.logo{
    float:left;
    margin-left:10px;
}
.link{
    float:left;
    margin-left:120px;
    margin-top:30px;
    font-size:18px;
    color:#013f73;
    font-weight: 700;
    /*font-family:PingFangSC-Regular;*/
}
.searchI2{
    margin-right: 40px;
    margin-top: 30px;
    width:23px;
    height:23px;
    float:right;
    cursor:pointer;
}
.searchK{
    margin-top:30px;
    margin-right:40px;
    float:right;
    width:400px;
    border-bottom:1px solid #013f73;
    overflow:auto;
    padding-bottom:8px;
    display:none;
}
.searchX{
    width:16px;
    height:16px;
    margin-top:5px;
    float:left;
    cursor:pointer;
}

.searchI{
    width:23px;
    height:23px;
    float:right;
    cursor:pointer;
}
.searchP{
    float:left;
    margin-left:37px;
    border:0;
    outline:0;
    width:300px;
}


.login{
    font-size:18px;
    color:#013f73;
    font-weight: bold;
    float:right;
    margin-right:40px;
    margin-top:30px;
}
.register{
    font-size:18px;
    color:#013f73;
    font-weight: bold;
    float:right;
    margin-right:20px;
    margin-top:30px;
}

.xiangmu{
    width:1420px;
    height:780px;
    background: url(../img/bg1.png) no-repeat;
    overflow:auto;
    padding:50px 10px 0px 10px;
    margin-bottom:10px;
    position:relative;
}
.xiangmuL{
    float:left;
    padding-bottom:10px;
    overflow:auto;
    width:370px;
    height:700px;
    background:rgba(216,216,216,0.37);
}
.xiangmuLT{
    height:70px;
    padding:0 10px;
}
.xiangmuLC{
    font-size:18px;
    color:#ffffff;
    padding:10px 6px;
    width:80px;
    border-bottom:1px solid #fff;
}
.xiangmuLM{
    height:630px;
    overflow:auto;
}
.xiangmuLMz{
    /*padding:7px 15px;*/
    font-size:16px;
    color:#ffffff;
    margin:24px 0;
    text-align: left;
}
.xiangmuLMz.active{
    background:rgba(216,216,216,0.44);
    
}
.xiangmuLMzT{
    cursor:pointer;
    padding:7px 12px;

}
.xiangmuLMz.active .xiangmuLMzT{
}
.xiangmuLMzM{
    padding:7px 15px;
    padding-bottom:40px;
    font-size:16px;
    background:#ffffff;
    color:#16579b;
    /*font-family:PingFangSC-Regular;*/
    font-weight: 700;
    display:none;
}
.xiangmuLMz.active .xiangmuLMzM{
    display:block;
}

.xiangmuR{
    float:right;
    height:690px;
    width:947px;
    padding:10px 30px ;
    background:rgba(255,255,255,0.53);
}
.xiangmuRT{
    font-size:18px;
    color:#ffffff;
    margin-bottom:24px;
    text-align: left;
}
.xiangmuRM{
    /*overflow:hidden;*/
}
.xiangmuRMzK{
    overflow:hidden;
    position:relative;
    width:947px;
    height:588px;
}
.xiangmuRMzKC{
    width:max-content;
    position:absolute;
    left:0;
    top:0;
    /*overflow:auto;*/
    transition-duration: 1s;
}
.xiangmuRMz{
    width:947px;
    height:588px;
    float:left;
}

.xiangmuRMi{
    width:947px;
    height:588px;
}
.xiangmuRMt{
    margin:10px 0;
    font-size:16px;
    font-weight: bold;
    color:#16579c;
    text-align: center;
}
.xiangmuRMB{
    display: flex;
    justify-content: space-around;
    width:150px;
    margin:0 auto;
}
.xiangmuRMb{
    border:1px solid #16579b;
    width:10px;
    height:10px;
    cursor:pointer;
}
.xiangmuRMb.active{
    background:#16579b;
    border:0;
    width:12px;
    height:12px;
}


.bottom{
    overflow:auto;
    background:#16579c;
}
.bottomL{
    height:40px;
    line-height: 40px;
    float:left;
    font-size:16px;
    color:#ffffff;
    text-align: center;
    padding:0 50px;
}
.bottomR{
    width:20px;
    height:16px;
    float:right;
    margin-top:12px;
    margin-right:50px;
}


.bottom2{
    text-align: center;
}
.bottom2z{
    font-size:14px;
    color:#16579c;
    margin:20px 0;
}

.loginK{
    width:960px;
    position:absolute;
    background:#fff;
    top:112px;
    left:230px;
}
.unauthorized{
    width:960px;
    height:500px;
    position:absolute;
    background:#fff;
    top:112px;
    left:230px;
}
.unauthorizedC{
    display:table;
    margin:0 auto;
    width:100%;
    height:100%;
}
.unauthorizedCC{
    text-align:center;
    padding:0 30px;
    /* 设置content里面内容垂直居中 */
    display:table-cell;
    vertical-align:middle;
}
.errorT1{
    font-size: 26px;
    margin:20px 0;
}
.errorT2{
    font-size: 16px;
    display:inline-block;
}
.errorA{
    font-size: 16px;
    color:red;
    display:inline-block;
}

.loginB{
	padding:10px 0;
}
.loginBB1{
    position:absolute;
    right:11px;
    top:14px;
    font-size:18px;
    color:#5ca0e5;
    font-weight: bold;
}
.loginT{
    height:50px;
    border-bottom:1px solid #16579c;
    line-height: 50px;
    text-align: center;
    font-size:24px;
    color:#16579c;
}
.loginM{
    padding-top:10px;
    text-align: center;
    padding-bottom:40px;
}
.loginM_2{
    margin-left:200px;
    text-align: left;
    margin-bottom:30px;
}
.loginM .loginMz{
    width:max-content;
    margin:0 auto;
    overflow:auto;
    margin-top:20px;
}
.loginM_2 .loginMz{
    overflow:auto;
    margin-top:20px;
}
.loginMzL{
    width:120px;
    font-size:18px;
    color:#666666;
    float:left;
    /*font-family:PingFangSC-Medium;*/
    font-weight:700;
    line-height: 40px;
    text-align: right;
}
.loginMzR{
    overflow:auto;
    width:350px;
    height:40px;
    float:left;
}
.loginMzt{
	width:200px;
    font-size:14px;
    color:#999999;
    font-weight: 700;
    line-height: 20px;
    float:left;
    margin-left:20px;
}

.loginMzRp,.loginMzRp2,.loginMzRp3{
    width:348px;
    height:34px;
    margin-top:2px;
    background:#ffffff;
    border:1px solid #999999;
    font-size:14px;
    color:#999999;
    /*padding:0 10px;*/
    text-indent: 10px;
}
.loginMzRp2{
    float:left;
    width:80px;
    height:34px;
}
.loginMzRp3{
    float:left;
    width:140px;
    height:34px;
}
.loginMzRiK{
    width:104px;
    height:40px;
    float:right;
    background:#d8d8d8;
    font-size:0;
}
.loginMzRi{
    width:104px;
    height:40px;
}

.loginM2{
    margin:0 auto;
    width:400px;
    margin-bottom:60px;
    display:flex;
    justify-content: space-between;
}
.loginM2z{
    /*font-family:PingFangSC-Medium;*/
    font-weight:700;
    font-size:14px;
    color:#5ca0e5;
}

.loginM3{
    margin:0 auto;
    width:400px;
    margin-bottom:20px;
    display:flex;
    justify-content: space-between;
}
.loginMt{
    font-size:14px;
    color:#999999;
    font-weight: 600;
    text-align: center;
    margin:0 auto;
}
.login_b{
    margin-bottom:40px;

}
.loginb{
    padding:5px 16px;
    background:#5ca0e5;
    border-radius:2px;
    /*font-family:PingFangSC-Medium;*/
    font-weight:700;
    font-size:16px;
    color:#ffffff;
    border:0;
    outline:0;
    cursor:pointer;
}

.loginMzRbK{
    float:right;
    height:40px;
}
.loginMzRb{
    background:#5ca0e5;
    border-radius:2px;
    width:100px;
    height:34px;
    margin:3px 0;
    font-size:16px;
    color:#ffffff;
    font-weight: 700;
    border:0;
    outline:0;
    cursor:pointer;
    line-height: 34px;
}
.loginMzRb2{
    background:#aaa;
    border-radius:2px;
    width:100px;
    height:34px;
    margin:3px 0;
    font-size:16px;
    color:#ffffff;
    font-weight: 700;
    border:0;
    display:none;
    line-height: 34px;
    cursor:default;
    text-align: center;
}